# Limpieza del dataset de bienes raíces

Este es un conjunto de datos (dataset) reales que fue descargado usando técnicas de web scraping. El archivo contiene registros de **Fotocasa**, el cual es uno de los sitios más populares de bienes raíces en España. Contiene miles de datos de casas reales publicadas en la web www.fotocasa.com.

El dataset fue descargado hace algunos años y en ningún caso se obtuvo beneficio económico de ello.

Tu objetivo es extraer tanta información como sea posible con el conocimiento que tienes hasta ahora de ciencia de datos.

Agrega observaciones, conclusiones o notas acerca de los datos obtenidos en cada ejercicio.

In [23]:
import pandas as pd

#### Ejercicio 00

Lee el dataset data/real_estate.csv e intenta visualizar la tabla (★☆☆)

In [24]:
# Este archivo CSV contiene puntos y comas en lugar de comas como separadores
df = pd.read_csv('assets/real_estate.csv', sep=';')
df

,Unnamed: 0,id_realEstates,isNew,realEstate_name,phone_realEstate,url_inmueble,rooms,bathrooms,surface,price,...,level4Id,level5Id,level6Id,level7Id,level8Id,accuracy,latitude,longitude,zipCode,customZone
0,1,153771986,False,ferrari 57 inmobiliaria,912177526.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,103.0,195000,...,0,0,0,0,0,0,"40,2948276786438","-3,44402412135624",NaN,NaN
1,2,153867863,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,NaN,89000,...,0,0,0,0,0,1,"40,28674","-3,79351",NaN,NaN
2,3,153430440,False,look find boadilla,916350408.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,99.0,390000,...,0,0,0,0,0,0,"40,4115646786438","-3,90662252135624",NaN,NaN
3,4,152776331,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,86.0,89000,...,0,0,0,0,0,0,"40,2853785786438","-3,79508142135624",NaN,NaN
4,5,153180188,False,ferrari 57 inmobiliaria,912177526.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,106.0,172000,...,0,0,0,0,0,0,"40,2998774864376","-3,45226301356237",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15330,15331,153901377,False,infocasa consulting,911360461.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,1.0,96.0,259470,...,0,0,0,0,0,0,"40,45416","-3,70286",NaN,NaN
15331,15332,150394373,False,inmobiliaria pulpon,912788039.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,150.0,165000,...,0,0,0,0,0,0,"40,36652","-3,48951",NaN,NaN
15332,15333,153901397,False,tecnocasa torrelodones,912780348.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,4.0,2.0,175.0,495000,...,0,0,0,0,0,0,"40,57444","-3,92124",NaN,NaN
15333,15334,152607440,False,inmobiliaria pulpon,912788039.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,101.0,195000,...,0,0,0,0,0,0,"40,36967","-3,48105",NaN,NaN
15334,15335,153901356,False,infocasa consulting,911360461.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,152.0,765000,...,0,0,0,0,0,0,"40,45773","-3,69068",NaN,NaN

## Trabajando con un DataFrame

#### Ejercicio 01

¿Cuál es la casa más cara del dataset? (★☆☆)

Imprime la dirección y el precio de la casa seleccionada. Para visualizar el resultado utiliza un f-string. Por ejemplo:

```py
f'La casa más cara se encuentra en la dirección: {address} y su precio es {price} €'
```

In [25]:
highest_price = df['price'].idxmax()
highest_price

13110

In [26]:
expensive_house = df.loc[highest_price]
expensive_house

Unnamed: 0                                                      13111
id_realEstates                                              132042636
isNew                                                           False
realEstate_name                            engel volkers torrelodones
phone_realEstate                                          911798512.0
url_inmueble        https://www.fotocasa.es/es/comprar/vivienda/vi...
rooms                                                            19.0
bathrooms                                                         NaN
surface                                                           NaN
price                                                         8500000
date                                             2019-12-19T12:29:00Z
description         El Palacio de El Enebral, la finca fue propied...
address                                                   El Escorial
country                                                        España
level1                                                         Madrid
level2                                                         Madrid
level3                                                  Zona Noroeste
level4                                           El Escorial, Zona de
level5                                                    El Escorial
level6                                                            NaN
level7                                             Centro - Manquilla
level8                                                            NaN
upperLevel                                         Centro - Manquilla
countryId                                                           0
level1Id                                                            0
level2Id                                                            0
level3Id                                                            0
level4Id                                                            0
level5Id                                                            0
level6Id                                                            0
level7Id                                                            0
level8Id                                                            0
accuracy                                                            0
latitude                                             40,5830801751782
longitude                                           -4,12951942848611
zipCode                                                           NaN
customZone                                                        NaN
Name: 13110, dtype: object

In [27]:
f"La casa más cara se encuentra en la dirección: {expensive_house['address']} y su precio es {expensive_house['price']} €"

'La casa más cara se encuentra en la dirección: El Escorial y su precio es 8500000 €'

#### Ejercicio 02

¿Cuál es la casa más barata del dataset? (★☆☆)

Imprime la dirección y el precio de la casa seleccionada utilizando f-string

In [28]:
lowest_price = df['price'].idxmin()
lowest_price

366

In [29]:
cheap_house = df.loc[lowest_price]
cheap_house

Unnamed: 0                                                        367
id_realEstates                                              153637952
isNew                                                           False
realEstate_name                                                esalje
phone_realEstate                                          912786497.0
url_inmueble        https://www.fotocasa.es/es/comprar/vivienda/ma...
rooms                                                             4.0
bathrooms                                                         4.0
surface                                                         262.0
price                                                               0
date                                      2019-12-28T18:52:25.965658Z
description         ESALJE vende amplio pareado de 268 m2. distrib...
address                                                         Parla
country                                                        España
level1                                                         Madrid
level2                                                         Madrid
level3                                             Zona Sur de Madrid
level4                                                 Parla, Zona de
level5                                                          Parla
level6                                                            NaN
level7                                          Fuentebella - El Nido
level8                                                            NaN
upperLevel                                      Fuentebella - El Nido
countryId                                                           0
level1Id                                                            0
level2Id                                                            0
level3Id                                                            0
level4Id                                                            0
level5Id                                                            0
level6Id                                                            0
level7Id                                                            0
level8Id                                                            0
accuracy                                                            0
latitude                                                     40,23202
longitude                                                    -3,78132
zipCode                                                           NaN
customZone                                                        NaN
Name: 366, dtype: object

In [30]:
f"La casa más barata se encuentra en la dirección: {cheap_house['address']} y su precio es {cheap_house['price']} €"

'La casa más barata se encuentra en la dirección: Parla y su precio es 0 €'

#### Ejercicio 03

¿Cuál es la casa más grande del dataset? (★☆☆)

Imprime la dirección y el área de las casas seleccionadas utilizando f-string

In [31]:
biggest_area = df['surface'].idxmax()
biggest_area

6794

In [32]:
row_biggest_area = df.loc[biggest_area]
row_biggest_area

Unnamed: 0                                                       6795
id_realEstates                                              153936192
isNew                                                           False
realEstate_name                               habitarium inmobiliaria
phone_realEstate                                          916357732.0
url_inmueble        https://www.fotocasa.es/es/comprar/vivienda/ma...
rooms                                                             3.0
bathrooms                                                         2.0
surface                                                      249000.0
price                                                          289000
date                                             2019-12-25T18:30:00Z
description         Zona Centro. Chalet pareado de esquina de 249m...
address                                              Sevilla la Nueva
country                                                        España
level1                                                         Madrid
level2                                                         Madrid
level3                                                  Zona Suroeste
level4                                      Sevilla la Nueva, Zona de
level5                                               Sevilla la Nueva
level6                                                            NaN
level7                                                            NaN
level8                                                            NaN
upperLevel                                           Sevilla la Nueva
countryId                                                           0
level1Id                                                            0
level2Id                                                            0
level3Id                                                            0
level4Id                                                            0
level5Id                                                            0
level6Id                                                            0
level7Id                                                            0
level8Id                                                            0
accuracy                                                            0
latitude                                                     40,34633
longitude                                                    -4,02174
zipCode                                                           NaN
customZone                                                        NaN
Name: 6794, dtype: object

In [33]:
f"La casa más grande se encuentra en la dirección: {row_biggest_area['address']} y su área es {row_biggest_area['surface']} m²"

'La casa más grande se encuentra en la dirección: Sevilla la Nueva y su área es 249000.0 m²'

#### Ejercicio 04

¿Cuál es la casa más pequeña del dataset? (★☆☆)

In [34]:
smallest_area = df['surface'].idxmin()
smallest_area

498

In [35]:
small_house = df.loc[smallest_area]
small_house

Unnamed: 0                                                        499
id_realEstates                                              152817874
isNew                                                           False
realEstate_name                                              toledo21
phone_realEstate                                          910757382.0
url_inmueble        https://www.fotocasa.es/es/comprar/vivienda/ma...
rooms                                                             1.0
bathrooms                                                         1.0
surface                                                          15.0
price                                                           85000
date                                     2019-12-28T19:04:44.6433814Z
description         ¡NO BUSQUES MÁS, YA LA HAS ENCONTRADO! . \n \n...
address                                 Calle Amparo,  Madrid Capital
country                                                        España
level1                                                         Madrid
level2                                                         Madrid
level3                                                Madrid, Zona de
level4                                                            NaN
level5                                                 Madrid Capital
level6                                                            NaN
level7                                                         Centro
level8                                         Embajadores - Lavapiés
upperLevel                                     Embajadores - Lavapiés
countryId                                                           0
level1Id                                                            0
level2Id                                                            0
level3Id                                                            0
level4Id                                                            0
level5Id                                                            0
level6Id                                                            0
level7Id                                                            0
level8Id                                                            0
accuracy                                                            0
latitude                                                     40,40818
longitude                                                    -3,70192
zipCode                                                           NaN
customZone                                                        NaN
Name: 498, dtype: object

In [36]:
f"La casa más pequeña se encuentra en la dirección: {small_house['address']} y su área es {small_house['surface']} m²"

'La casa más pequeña se encuentra en la dirección: Calle Amparo,  Madrid Capital y su área es 15.0 m²'

#### Ejercicio 05.

¿El dataset contiene valores no admitidos (NAs)? (★☆☆)

- Muestra el nombre de las filas seguidas por un booleano (`True` o `False`) según contengan o no contengan NAs.
- También muestra el nombre de las columnas seguidas por un booleano (`True` o `False`) según contengan o no contengan NAs.

In [37]:
rows_na = df.isnull()
rows_na

,Unnamed: 0,id_realEstates,isNew,realEstate_name,phone_realEstate,url_inmueble,rooms,bathrooms,surface,price,...,level4Id,level5Id,level6Id,level7Id,level8Id,accuracy,latitude,longitude,zipCode,customZone
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
1,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,True
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15330,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
15331,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
15332,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
15333,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
15334,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True

In [38]:
full_list = df.isna().any(axis=1)
full_list

0        True
1        True
2        True
3        True
4        True
         ...
15330    True
15331    True
15332    True
15333    True
15334    True
Length: 15335, dtype: bool

In [39]:
modify_list = df.any(axis=0)
modify_list

Unnamed: 0           True
id_realEstates       True
isNew                True
realEstate_name      True
phone_realEstate     True
url_inmueble         True
rooms                True
bathrooms            True
surface              True
price                True
date                 True
description          True
address              True
country              True
level1               True
level2               True
level3               True
level4               True
level5               True
level6               True
level7               True
level8               True
upperLevel           True
countryId           False
level1Id            False
level2Id            False
level3Id            False
level4Id            False
level5Id            False
level6Id            False
level7Id            False
level8Id            False
accuracy             True
latitude             True
longitude            True
zipCode             False
customZone          False
dtype: bool

#### Ejercicio 06.

Elimina las columnas que contengan NAs del dataset, si aplica (★★☆)

Muestra las dimensiones del DataFrame original y del DataFrame después de las eliminaciones.

In [40]:
# To delete the columns

remove_column = df.dropna(axis=1)
remove_column

,Unnamed: 0,id_realEstates,isNew,url_inmueble,price,date,address,country,level1,level2,...,level2Id,level3Id,level4Id,level5Id,level6Id,level7Id,level8Id,accuracy,latitude,longitude
0,1,153771986,False,https://www.fotocasa.es/es/comprar/vivienda/ma...,195000,2019-12-28T18:27:15.9975027Z,"Calle Presidente Felipe Gonzalez, Arganda del Rey",España,Madrid,Madrid,...,0,0,0,0,0,0,0,0,"40,2948276786438","-3,44402412135624"
1,2,153867863,False,https://www.fotocasa.es/es/comprar/vivienda/ma...,89000,2019-12-28T18:27:15.9975027Z,"Calle Polvoranca, 6, Fuenlabrada",España,Madrid,Madrid,...,0,0,0,0,0,0,0,1,"40,28674","-3,79351"
2,3,153430440,False,https://www.fotocasa.es/es/comprar/vivienda/ma...,390000,2019-12-28T18:27:15.9975027Z,"Calle Reyes Católicos, Boadilla del Monte",España,Madrid,Madrid,...,0,0,0,0,0,0,0,0,"40,4115646786438","-3,90662252135624"
3,4,152776331,False,https://www.fotocasa.es/es/comprar/vivienda/ma...,89000,2019-12-28T18:27:15.9975027Z,"Barrio San Andres, Fuenlabrada",España,Madrid,Madrid,...,0,0,0,0,0,0,0,0,"40,2853785786438","-3,79508142135624"
4,5,153180188,False,https://www.fotocasa.es/es/comprar/vivienda/ma...,172000,2019-12-28T18:27:15.9975027Z,Arganda del Rey,España,Madrid,Madrid,...,0,0,0,0,0,0,0,0,"40,2998774864376","-3,45226301356237"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15330,15331,153901377,False,https://www.fotocasa.es/es/comprar/vivienda/ma...,259470,2019-12-17T18:19:00Z,Madrid Capital,España,Madrid,Madrid,...,0,0,0,0,0,0,0,0,"40,45416","-3,70286"
15331,15332,150394373,False,https://www.fotocasa.es/es/comprar/vivienda/ma...,165000,2019-12-17T18:19:00Z,Velilla de San Antonio,España,Madrid,Madrid,...,0,0,0,0,0,0,0,0,"40,36652","-3,48951"
15332,15333,153901397,False,https://www.fotocasa.es/es/comprar/vivienda/ma...,495000,2019-12-17T18:19:00Z,Torrelodones,España,Madrid,Madrid,...,0,0,0,0,0,0,0,0,"40,57444","-3,92124"
15333,15334,152607440,False,https://www.fotocasa.es/es/comprar/vivienda/ma...,195000,2019-12-17T18:18:00Z,Velilla de San Antonio,España,Madrid,Madrid,...,0,0,0,0,0,0,0,0,"40,36967","-3,48105"
15334,15335,153901356,False,https://www.fotocasa.es/es/comprar/vivienda/ma...,765000,2019-12-17T18:17:00Z,"Paseo de la Castellana, Madrid Capital",España,Madrid,Madrid,...,0,0,0,0,0,0,0,0,"40,45773","-3,69068"

In [41]:
# Original dimensions

original_data = df.shape
original_data

(15335, 37)

In [42]:
# Dimensions after deleting the columns

modify_data = df.dropna(axis=1).shape
modify_data

(15335, 25)

#### Ejercicio 07

¿Cuantas poblaciones (columna level5) contiene el dataset? (★☆☆)

- Muestra una lista con los nombres de las poblaciones
- Muestra el total de las mismas

In [43]:
# The list with the names of the towns

df["level5"].unique()

array(['Arganda del Rey', 'Fuenlabrada', 'Boadilla del Monte',
       'Las Rozas de Madrid', ' Madrid Capital', 'Villaviciosa de Odón',
       'Pinto', 'Valdemoro', 'Navalcarnero', 'Pozuelo de Alarcón',
       'Torrejón de Ardoz', 'Navalagamella', 'San Sebastián de los Reyes',
       'Rivas-vaciamadrid', 'Alpedrete', 'Móstoles',
       'San Fernando de Henares', 'Coslada', 'Becerril de la Sierra',
       'Alcalá de Henares', 'Chinchón', 'Parla', 'Alcorcón',
       'El Escorial', 'Leganés', 'Pedrezuela', 'Majadahonda',
       'Villanueva de la Cañada', 'Villanueva del Pardillo',
       'Torrelodones', 'Moralzarzal', 'Mejorada del Campo', 'Aranjuez',
       'Corpa', 'Getafe', 'Velilla de San Antonio', 'Sevilla la Nueva',
       'San Martín de la Vega', 'Villalbilla', 'Collado Villalba',
       'Alcobendas', 'El Molar (Madrid)', 'Moraleja de Enmedio', 'Algete',
       'Campo Real', 'Torrejón de la Calzada', 'Colmenar Viejo',
       'Valdemorillo', 'Fuente El Saz de Jarama', 'Tres Cantos',
       'Arroyomolinos (Madrid)', 'Griñón', 'Paracuellos de Jarama',
       'Guadarrama', 'Titulcia', 'Galapagar', 'Collado Mediano',
       'Los Molinos', 'San Lorenzo de El Escorial', 'Loeches',
       'San Martín de Valdeiglesias', 'Navas del Rey', 'Bustarviejo',
       'Manzanares El Real', 'Carabaña', 'Casarrubuelos', 'Cercedilla',
       'Fresnedillas de la Oliva', 'Valdemaqueda', 'Robledo de Chavela',
       'Miraflores de la Sierra', 'Humanes de Madrid',
       'Valdetorres de Jarama', 'San Agustín del Guadalix',
       'Ciempozuelos', 'Camarma de Esteruelas', 'Torres de la Alameda',
       'Talamanca de Jarama', 'El Atazar', 'Hoyo de Manzanares',
       'El Boalo - Cerceda – Mataelpino', 'El Álamo', 'Valdilecha',
       'Valdeolmos-Alalpardo', 'Guadalix de la Sierra',
       'Belmonte de Tajo', 'El Vellón', 'Brunete', 'Redueña',
       'Morata de Tajuña', 'Tielmes', 'Gargantilla del Lozoya', 'Meco',
       'Venturada', 'Quijorna', 'Cenicientos', 'Torrejón de Velasco',
       'Navacerrada', 'Santa María de la Alameda', 'Orusco de Tajuña',
       'Daganzo de Arriba', 'Villamanta', 'Anchuelo', 'Valdaracete',
       'Ajalvir', 'Los Santos de la Humosa', 'Villamanrique de Tajo',
       'Colmenar de Oreja', 'Villa del Prado', 'Fuentidueña de Tajo',
       'Colmenar del Arroyo', 'Valdelaguna', 'Cubas de la Sagra',
       'Valdeavero', 'Aldea del Fresno', 'Ribatejada', 'Torrelaguna',
       'Batres', 'Pezuela de las Torres', 'Colmenarejo',
       'Serranillos del Valle', 'Cobeña', 'Soto del Real', 'El Berrueco',
       'Villanueva de Perales', 'Fresno de Torote - Serracines',
       'Pozuelo del Rey', 'Pelayos de la Presa', 'La Cabrera',
       'Nuevo Baztán', 'Perales de Tajuña', 'Villaconejos',
       'Villarejo de Salvanés', 'Cadalso de los Vidrios', 'Santorcaz',
       'Madarcos', 'Garganta de los Montes', 'Puentes Viejas',
       'Torremocha de Jarama', 'Valdemanco', 'Braojos',
       'Lozoyuela-navas-sieteiglesias', 'Piñuécar-gandullas',
       'Valdepiélagos', 'Valverde de Alcalá', 'Villar del Olmo',
       'Villamantilla', 'Horcajo de la Sierra', 'Gascones', 'Zarzalejo',
       'Villavieja del Lozoya', 'Brea de Tajo', 'Estremera', 'Chapinería',
       'Navarredonda', 'Patones', 'Ambite', 'Navalafuente', 'Lozoya',
       'Canencia', 'Cabanillas de la Sierra', 'Buitrago del Lozoya',
       'Fresno de Torote', 'Robregordo', 'Pinilla del Valle', 'Rascafría',
       'La Hiruela', 'Montejo de la Sierra'], dtype=object)

In [44]:
total_town = df.groupby('level5').size()
total_town

level5
 Madrid Capital          6643
Ajalvir                    17
Alcalá de Henares         525
Alcobendas                259
Alcorcón                  190
                         ...
Villar del Olmo             7
Villarejo de Salvanés      19
Villaviciosa de Odón      166
Villavieja del Lozoya       6
Zarzalejo                   2
Length: 168, dtype: int64

In [45]:
total_number = len(total_town)
total_number

168

#### Ejercicio 08

¿Cuál es la media de precios en la población (columna level5) de "Arroyomolinos (Madrid)"? (★★☆)

In [46]:
madrid_town = df[df['level5'] == 'Arroyomolinos (Madrid)']
madrid_town

,Unnamed: 0,id_realEstates,isNew,realEstate_name,phone_realEstate,url_inmueble,rooms,bathrooms,surface,price,...,level4Id,level5Id,level6Id,level7Id,level8Id,accuracy,latitude,longitude,zipCode,customZone
453,454,153843083,False,akris arguelles,911792694.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,85.0,165338,...,0,0,0,0,0,0,"40,27657","-3,91864",NaN,NaN
607,608,153620088,False,100 home red inmobiliaria,912669623.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,4.0,3.0,225.0,251646,...,0,0,0,0,0,0,"40,2568635154027","-3,91214199444133",NaN,NaN
613,614,153478908,False,mares inmobiliaria,911794026.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,4.0,4.0,257.0,396000,...,0,0,0,0,0,1,"40,2839697","-3,9268743",NaN,NaN
707,708,153736961,False,gm house,916357589.0,https://www.fotocasa.es/es/comprar/vivienda/po...,3.0,2.0,110.0,225000,...,0,0,0,0,0,0,"40,2779047","-3,9136693",NaN,NaN
852,853,153274493,False,gm house,916357589.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,4.0,2.0,280.0,373000,...,0,0,0,0,0,0,"40,2827315","-3,9120264",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15019,15020,152767314,False,haya real estate,911227078.0,https://www.fotocasa.es/vivienda/getafe/calle-...,3.0,2.0,143.0,218000,...,0,0,0,0,0,0,"40,27849764","-3,91184112",NaN,NaN
15089,15090,152767395,False,haya real estate,911227078.0,https://www.fotocasa.es/es/comprar/vivienda/ar...,3.0,2.0,140.0,230000,...,0,0,0,0,0,0,"40,27849764","-3,91184112",NaN,NaN
15091,15092,152767377,False,haya real estate,911227078.0,https://www.fotocasa.es/es/comprar/vivienda/ar...,3.0,2.0,143.0,217000,...,0,0,0,0,0,0,"40,27849764","-3,91184112",NaN,NaN
15094,15095,152767335,False,haya real estate,911227078.0,https://www.fotocasa.es/es/comprar/vivienda/ar...,3.0,2.0,142.0,227000,...,0,0,0,0,0,0,"40,27849764","-3,91184112",NaN,NaN
15192,15193,146831440,False,miranda servicios inmobiliarios,912789124.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,300.0,462000,...,0,0,0,0,0,0,"40,270392","-3,90373610000006",NaN,NaN

In [47]:
average_price = madrid_town['price'].mean()
f"La media es de {float(average_price):.2f}€."

'La media es de 294541.60€.'

#### Ejercicio 09.

¿Los precios promedios de "Valdemorillo" y "Galapagar" son iguales? (★★☆)

- Muestra ambos promedios
- Escribe en una celda markdown una conclusión sobre ellos

In [48]:
# The average of Valdemorillo prices

average_town1 = df[df['level5'] == 'Valdemorillo']['price'].mean()
f"La media de Valdemorillo es {float(average_town1):.2f}€."

'La media de Valdemorillo es 363860.29€.'

In [49]:
# The average of Galapagar prices

average_town2 = df[df['level5'] == 'Galapagar']['price'].mean()
f"La media de Galapagar es {float(average_town2):.2f}€."

'La media de Galapagar es 360063.20€.'

Las medias de Valdemorillo y Galapagar no son iguales. Según las medias que hemos obtenido, podemos ver que los **precios** son **más altos en Valdemorillo**.

#### Ejercicio 10

¿Los promedios de precio por metro cuadrado (precio/m2) de "Valdemorillo" y "Galapagar" son iguales? (★★☆)

> Pista: Crea una nueva columna llamada `pps` (*price per square* o precio por metro cuadrado) y luego analiza los valores.

- Muestra ambos promedios de precio por metro cuadrado
- Escribe en una celda markdown una conclusión sobre ellos

In [50]:
# To add the column with the price per square meter of each property

df['pps'] = df['price'] / df['surface']
df['pps']

0        1893.203883
1                NaN
2        3939.393939
3        1034.883721
4        1622.641509
            ...
15330    2702.812500
15331    1100.000000
15332    2828.571429
15333    1930.693069
15334    5032.894737
Name: pps, Length: 15335, dtype: float64

In [51]:
# To get the average per square meter of the properties in Valdemorillo

average_square_one = df[df['level5'] == 'Valdemorillo']['pps'].mean()
f"El precio medio por metro cuadrado de las propiedades en Valdemorillo es {float(average_square_one):.2f}€."

'El precio medio por metro cuadrado de las propiedades en Valdemorillo es 1317.95€.'

In [52]:
# To get the average per square meter of the properties in Galapagar

average_square_two = df[df['level5'] == 'Galapagar']['pps'].mean()
f"El precio medio por metro cuadrado de las propiedades en Galapagar es {float(average_square_two):.2f}€."

'El precio medio por metro cuadrado de las propiedades en Galapagar es 1606.32€.'

En este caso, según los promedios que hemos obtenido, podemos ver que, aunque el precio medio en Valdemorillo es más alto, **el precio medio por metro cuadrado es más alto en Galapagar.**

#### Ejercicio 11

¿Cuántas agencias de bienes raíces contiene el dataset? (★★☆)

- Muestra el valor obtenido.

In [53]:
agencies_list = df.groupby('realEstate_name').size()
len(agencies_list)

1821

#### Ejercicio 12

¿Cuál es la población (columna level5) que contiene la mayor cantidad de casas?(★★☆)

- Muestra la población y el número de casas.

In [54]:
max_population = df['level5'].value_counts().idxmax()
max_quantity = df['level5'].value_counts().max()
f"La población con mayor cantidad de casas es {max_population} con {max_quantity} casas"

'La población con mayor cantidad de casas es  Madrid Capital con 6643 casas'

---

## Trabajando con un subconjunto del DataFrame

#### Ejercicio 13

Ahora vamos a trabajar con el "cinturón sur" de Madrid.

Haz un subconjunto del DataFrame original que contenga las siguientes poblaciones (columna level5): "Fuenlabrada", "Leganés", "Getafe", "Alcorcón" (★★☆)

> Pista: Filtra el DataFrame original usando la columna `level5` y la función `isin`.

In [55]:
original_set = df[df['level5'].isin(['Fuenlabrada', 'Leganés', 'Getafe', 'Alcorcón'])]
original_set

,Unnamed: 0,id_realEstates,isNew,realEstate_name,phone_realEstate,url_inmueble,rooms,bathrooms,surface,price,...,level5Id,level6Id,level7Id,level8Id,accuracy,latitude,longitude,zipCode,customZone,pps
1,2,153867863,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,NaN,89000,...,0,0,0,0,1,"40,28674","-3,79351",NaN,NaN,NaN
3,4,152776331,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,86.0,89000,...,0,0,0,0,0,"40,2853785786438","-3,79508142135624",NaN,NaN,1034.883721
85,86,153152077,False,sinergical inmobiliaria,NaN,https://www.fotocasa.es/es/comprar/vivienda/le...,1.0,1.0,50.0,107000,...,0,0,0,0,1,"40,35059","-3,82693",NaN,NaN,2140.000000
94,95,153995577,False,viviendas365com,911226014.0,https://www.fotocasa.es/es/comprar/vivienda/le...,3.0,2.0,120.0,320000,...,0,0,0,0,0,"40,31933","-3,77574",NaN,NaN,2666.666667
109,110,153586414,False,area uno asesores inmobiliarios,912664081.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,3.0,142.0,425000,...,0,0,0,0,0,"40,3313411","-3,8313868",NaN,NaN,2992.957746
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15275,15276,153903887,False,aliseda servicios de gestion inmobiliaria,911368198.0,https://www.fotocasa.es/es/comprar/vivienda/al...,3.0,1.0,78.0,138000,...,0,0,0,0,1,"40,31381","-3,83733",NaN,NaN,1769.230769
15291,15292,151697757,False,unipiso,912788631.0,https://www.fotocasa.es/es/comprar/vivienda/al...,3.0,2.0,110.0,279000,...,0,0,0,0,0,"40,3259051","-3,76318",NaN,NaN,2536.363636
15305,15306,153902389,False,jadein ferrero,914871639.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,85.0,170000,...,0,0,0,0,0,"40,2882193","-3,8098617",NaN,NaN,2000.000000
15322,15323,153871864,False,gestion comercial,911220662.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,91.0,112000,...,0,0,0,0,0,"40,28282","-3,78892",NaN,NaN,1230.769231
15325,15326,153901467,False,montehogar 68,911790675.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,99.0,215000,...,0,0,0,0,1,"40,28062","-3,79869",NaN,NaN,2171.717172

#### Ejercicio 14

Calcula la media y la varianza de muestra para las siguientes variables: precio, habitaciones, superficie y baños (★★★)

> Debes usar el subset obtenido en la pregunta 13

- Crea y visualiza un diccionario con todos los valores

In [56]:
variables = ['price', 'rooms', 'surface', 'bathrooms']
statistics = {}
for var in variables:
    statistics[var] = {
        'average': round(float(original_set[var].mean()), 2),
        'variance': round(float(original_set[var].var()), 2)
    }
statistics

{'price': {'average': 223094.48, 'variance': 14921367508.05},
 'rooms': {'average': 3.02, 'variance': 0.72},
 'surface': {'average': 111.75, 'variance': 4263.05},
 'bathrooms': {'average': 1.63, 'variance': 0.57}}

#### Ejercicio 15

¿Cuál es la casa más cara de cada población del cinturón sur de Madríd? (★★☆)

> Debes usar el subset obtenido en la pregunta 13

- Genera un DataFrame con esta información
- Muestra tanto la dirección como el precio de la casa seleccionada de cada población.
- Genera conclusiones en una celda markdown

In [57]:
group = original_set.groupby('level5')['price'].max()
group

level5
Alcorcón        950000
Fuenlabrada     490000
Getafe         1050000
Leganés         650000
Name: price, dtype: int64

In [58]:
city_index = original_set.groupby('level5')['price'].idxmax()
city_index

level5
Alcorcón        5585
Fuenlabrada    11561
Getafe          2881
Leganés        10412
Name: price, dtype: int64

In [59]:
max_houses1 = original_set.loc[city_index, ['level5', 'price', 'address']]
max_houses1

            level5    price                                address
5585      Alcorcón   950000                               Alcorcón
11561  Fuenlabrada   490000  Calle de Paulo Freire, 5, Fuenlabrada
2881        Getafe  1050000                                 Getafe
10412      Leganés   650000           Avenida Reina Sofía, Leganés

De estos datos podemos llegar a la conclusión que las viviendas más caras del cinturón sur se encuentran en Getafe, mientras que las de Fuenlabrada presentan precios más bajos.

#### Ejercicio 16

¿Qué puedes decir acerca del precio por metro cuadrado (precio/m2) entre los municipios de 'Getafe' y 'Alcorcón'? (★★☆)

> Debes usar el subset obtenido en la pregunta 13
>
> Pista: Crea una nueva columna llamada `pps` (price per square en inglés) y luego analiza los valores

In [60]:
original_set = df[df['level5'].isin(['Fuenlabrada', 'Leganés', 'Getafe', 'Alcorcón'])].copy()
original_set

,Unnamed: 0,id_realEstates,isNew,realEstate_name,phone_realEstate,url_inmueble,rooms,bathrooms,surface,price,...,level5Id,level6Id,level7Id,level8Id,accuracy,latitude,longitude,zipCode,customZone,pps
1,2,153867863,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,NaN,89000,...,0,0,0,0,1,"40,28674","-3,79351",NaN,NaN,NaN
3,4,152776331,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,86.0,89000,...,0,0,0,0,0,"40,2853785786438","-3,79508142135624",NaN,NaN,1034.883721
85,86,153152077,False,sinergical inmobiliaria,NaN,https://www.fotocasa.es/es/comprar/vivienda/le...,1.0,1.0,50.0,107000,...,0,0,0,0,1,"40,35059","-3,82693",NaN,NaN,2140.000000
94,95,153995577,False,viviendas365com,911226014.0,https://www.fotocasa.es/es/comprar/vivienda/le...,3.0,2.0,120.0,320000,...,0,0,0,0,0,"40,31933","-3,77574",NaN,NaN,2666.666667
109,110,153586414,False,area uno asesores inmobiliarios,912664081.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,3.0,142.0,425000,...,0,0,0,0,0,"40,3313411","-3,8313868",NaN,NaN,2992.957746
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15275,15276,153903887,False,aliseda servicios de gestion inmobiliaria,911368198.0,https://www.fotocasa.es/es/comprar/vivienda/al...,3.0,1.0,78.0,138000,...,0,0,0,0,1,"40,31381","-3,83733",NaN,NaN,1769.230769
15291,15292,151697757,False,unipiso,912788631.0,https://www.fotocasa.es/es/comprar/vivienda/al...,3.0,2.0,110.0,279000,...,0,0,0,0,0,"40,3259051","-3,76318",NaN,NaN,2536.363636
15305,15306,153902389,False,jadein ferrero,914871639.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,85.0,170000,...,0,0,0,0,0,"40,2882193","-3,8098617",NaN,NaN,2000.000000
15322,15323,153871864,False,gestion comercial,911220662.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,91.0,112000,...,0,0,0,0,0,"40,28282","-3,78892",NaN,NaN,1230.769231
15325,15326,153901467,False,montehogar 68,911790675.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,99.0,215000,...,0,0,0,0,1,"40,28062","-3,79869",NaN,NaN,2171.717172

In [61]:
original_set.loc[:, 'pps'] = original_set['price'] / original_set['surface']
original_set['pps']

1                NaN
3        1034.883721
85       2140.000000
94       2666.666667
109      2992.957746
            ...
15275    1769.230769
15291    2536.363636
15305    2000.000000
15322    1230.769231
15325    2171.717172
Name: pps, Length: 907, dtype: float64

In [62]:
# Price of square meter in Getafe

getafe = original_set[original_set['level5'] == 'Getafe']
getafe

,Unnamed: 0,id_realEstates,isNew,realEstate_name,phone_realEstate,url_inmueble,rooms,bathrooms,surface,price,...,level5Id,level6Id,level7Id,level8Id,accuracy,latitude,longitude,zipCode,customZone,pps
169,170,153920011,False,grupo tizona,911226046.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,6.0,2.0,195.0,290000,...,0,0,0,0,0,"40,31111","-3,73066",NaN,NaN,1487.179487
232,233,152842726,False,aljada inmobiliaria,916355578.0,https://www.fotocasa.es/es/comprar/vivienda/sa...,3.0,1.0,65.0,137400,...,0,0,0,0,0,"40,3060558","-3,7346649",NaN,NaN,2113.846154
233,234,152842686,False,aljada inmobiliaria,916355578.0,https://www.fotocasa.es/es/comprar/vivienda/sa...,3.0,1.0,83.0,135500,...,0,0,0,0,0,"40,3035689","-3,7381336",NaN,NaN,1632.530120
269,270,153861480,False,whan house consulting,925630418.0,https://www.fotocasa.es/es/comprar/vivienda/vi...,3.0,1.0,62.0,99900,...,0,0,0,0,0,"40,3068987","-3,725108",NaN,NaN,1611.290323
381,382,153880899,False,grupo tizona,911226046.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,4.0,2.0,280.0,455000,...,0,0,0,0,0,"40,28327","-3,74772",NaN,NaN,1625.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14999,15000,150500515,False,identy,NaN,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,3.0,210.0,365000,...,0,0,0,0,0,"40,30546","-3,75275",NaN,NaN,1738.095238
15002,15003,140064595,False,grupo gonzalez gervaso,914871849.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,122.0,284491,...,0,0,0,0,1,"40,30206","-3,73321",NaN,NaN,2331.893443
15034,15035,153433007,False,aurea homes,911361016.0,https://www.fotocasa.es/vivienda/getafe/calle-...,4.0,2.0,137.0,447000,...,0,0,0,0,1,"40,31667","-3,74072",NaN,NaN,3262.773723
15087,15088,150177594,False,grupo gonzalez gervaso,914871849.0,https://www.fotocasa.es/es/comprar/vivienda/ar...,3.0,2.0,115.0,356160,...,0,0,0,0,0,"40,30186","-3,73321",NaN,NaN,3097.043478
15117,15118,153433030,False,aurea homes,911361016.0,https://www.fotocasa.es/es/comprar/vivienda/ta...,4.0,2.0,140.0,412500,...,0,0,0,0,1,"40,31667","-3,74072",NaN,NaN,2946.428571

In [63]:
average_getafe = getafe['pps'].mean()
average_getafe = round(average_getafe, 2)
average_getafe = f'Precio por metro cuadrado en el municipio de Getafe es de {average_getafe}€.'
average_getafe

'Precio por metro cuadrado en el municipio de Getafe es de 2066.31€.'

In [64]:
# Price of square meter in Alcorcón

alcorcon = original_set[original_set['level5'] == 'Alcorcón']
alcorcon

,Unnamed: 0,id_realEstates,isNew,realEstate_name,phone_realEstate,url_inmueble,rooms,bathrooms,surface,price,...,level5Id,level6Id,level7Id,level8Id,accuracy,latitude,longitude,zipCode,customZone,pps
85,86,153152077,False,sinergical inmobiliaria,NaN,https://www.fotocasa.es/es/comprar/vivienda/le...,1.0,1.0,50.0,107000,...,0,0,0,0,1,"40,35059","-3,82693",NaN,NaN,2140.000000
109,110,153586414,False,area uno asesores inmobiliarios,912664081.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,3.0,142.0,425000,...,0,0,0,0,0,"40,3313411","-3,8313868",NaN,NaN,2992.957746
765,766,154002468,True,raul,NaN,https://www.fotocasa.es/es/comprar/vivienda/ma...,4.0,2.0,109.0,248000,...,0,0,0,0,1,"40,3526","-3,81587",NaN,NaN,2275.229358
816,817,154001779,True,deplace,910750918.0,https://www.fotocasa.es/es/comprar/vivienda/la...,3.0,2.0,96.0,299000,...,0,0,0,0,0,"40,3546326213562","-3,80197422135624",NaN,NaN,3114.583333
827,828,154001766,True,tecnocasa ciudad de alcorcon,911795412.0,https://www.fotocasa.es/es/comprar/vivienda/la...,3.0,1.0,65.0,119900,...,0,0,0,0,0,"40,34949","-3,83127",NaN,NaN,1844.615385
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14896,14897,150606951,False,soluciones inmobiliarias fergosa,912176554.0,https://www.fotocasa.es/es/comprar/vivienda/pa...,2.0,1.0,65.0,135000,...,0,0,0,0,0,"40,34484","-3,83016",NaN,NaN,2076.923077
15144,15145,151138764,False,oikos inmobiliaria,912664713.0,https://www.fotocasa.es/es/comprar/vivienda/to...,3.0,2.0,93.0,330000,...,0,0,0,0,0,"40,35382","-3,80028",NaN,NaN,3548.387097
15166,15167,150646543,False,infocasa consulting,911360461.0,https://www.fotocasa.es/es/comprar/vivienda/el...,3.0,1.0,73.0,175000,...,0,0,0,0,0,"40,35541","-3,82059",NaN,NaN,2397.260274
15191,15192,153078915,False,daurum estate,912179743.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,102.0,318000,...,0,0,0,0,0,"40,3522","-3,80279",NaN,NaN,3117.647059
15223,15224,153440884,False,redpiso alcorcon sur,910758927.0,https://www.fotocasa.es/es/comprar/vivienda/pa...,2.0,2.0,85.0,257000,...,0,0,0,0,0,"40,344393","-3,839799",NaN,NaN,3023.529412

In [65]:
average_alcorcon = alcorcon['pps'].mean()
average_alcorcon = round(average_alcorcon, 2)
average_alcorcon = f'Precio por metro cuadrado en el municipio de Alcorcón es de {average_alcorcon}€.'
average_alcorcon

'Precio por metro cuadrado en el municipio de Alcorcón es de 2239.3€.'

Analizando los datos podemos ver que el precio por metro cuadrado está más alto en el municipio de Alcorcón que en Getafe.

## Conclusiones

#### Ejercicio 17

Una vez analizados todos los datos podemos ver que la mayoria de las casas que están en venta se encuntran en la zona de Madrid Capital, sin embargo, la casa más cara se encuntra en El Escorial, zona Noroeste. Por otro lado, las casas más caras del cinturón sur de Madrid, se encuntran en el municipio de Gefate, aunque el precio medio por metro cuadrado está más alto en el municipio de Alcorcón que en el Getafe. 
Una vez calculadas las medias de las viviendas del cinturón sur de Madrid, observamos que la superficie media es de 111,75 m², con 3 habitaciones y 1 baño.